body {
    background:#efefef;
    font-family:Arial,Helvetica,sans-serif;
    font-size:0.9em;
}


#_dash-app-content{
    /*max-width:400px;*/
}
.container {
    width:400px;
}
.container,
#chart-container,h1,h2{
    margin-bottom:10px;
    box-shadow:0px 1px 8px #aaa;
    padding:10px;
    text-align:left;
    background:#fff;
    z-index:9999;
    position:relative;
    border-radius:10px;
}

@keyframes chart-container-anim {
  0%   {top: 120px; opacity:0}
  50%   {top: 110px, opacity:0.3}
  100%   {top: 100px, opacity:1}
}

#chart-container[data-dash-is-loading="true"]>*{
    opacity:0.5;
    transition: all 0.3s linear;
}
#chart-container[data-dash-is-loading="false"]>*{
    opacity:1;
    transition: all 0.3s linear;
}

#chart-container{
    position:absolute;
    top:100px;
    right:0px;
    left:0px;
    margin:auto;
    width:66vw;
    height:66vh;
    min-width:400px;
    min-height:400px;
    text-align:center;
    animation-duration: 1s;
    animation-name: chart-container-anim;
}
#chart-container>div{
    height:90%;
    width:100%;
}
#chart{
    height:100%;
    width:100%;
}

#chart-close{
    color:black;
    font-size:1.5em;
    width:1.5em;
    height:1.5em;
    position:absolute;
    top:0px;
    left:0px;
    z-index:999;
}

#chart-container .svg-container{
    margin:auto;
}

#location_p{
    text-align:left;
}
#location_text{
    text-align:left;
    color:#999;
    font-size:0.9em;
}

#search-container {
    width:100%;
    flex-wrap: nowrap;
    display: flex;
}
#search-container #nominatim_lookup_edit{
    flex-grow: 4;
}
#search-container #nominatim_lookup_button{
    flex-grow: 2;
}
#nominatim_lookup_edit{
    margin:5px;
    padding:5px;
}


#map {
    width:100%;
    max-width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
}

#mean_trend_p{
    font-size:20pt;
    margin:auto;
    padding:20px;
    border-radius:1000px;
    display:inline-block;
}

button{
    margin:5px;
    padding:5px;
}


.tab-content {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-top: none;
    padding: 10px;
    border-radius:0px 0px 5px 5px;
}
.tab:not(.tab--selected){
    color:#999;
}

#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    max-width:800px;
    padding: 5px;
    padding-right:60px;
    padding-left:20px;
    margin:auto;
    font-size:0.8em;
    text-align:center;
    background:rgba(255,255,255,0.9);
    box-shadow:0px 1px 8px #aaa;
    border-radius: 0px 10px 0px 0px;
    z-index:999;
}
#footer a{
    margin-left: 9px;
}

#detail_radio{
  text-align: center;
}

label {
  background:#fff;
  color:#333;
  border-radius:5px;
  margin:2px;
  box-shadow:0px 0px 10px #dfdfdf;
  padding:3px;
  padding-right:8px;
  font-size:1.2em;
  border-bottom:1px solid #ccc;
}
label:hover {
  background: #F63366;
  color:#fff;
  border-bottom:1px solid #fff;
}

#detail_container, .container {
  background:#efefef;
}

#mean_trend_p {
  border: 5px solid white !important;
  max-width:80%;
  width:100px;
  margin:auto;
  display:block;
  text-align: center;
}

h3 {
  text-align: center;
}

.tab-content {
  background: white;
}

#title{
    background:white;
}

#main_controls{
  padding-left:5px;
  padding-right:20px;
  padding-top: 5px;
  max-height:99%;
  position:absolute;
  left:0px;
  top:0px;
  overflow:auto;
  z-index: 9999;
}

#timeline-avg-check {
 max-width:40%;
 text-align: center;
}


#region_container{
  margin-top: 10px;
  margin-bottom: 10px;
}

a, a:link, a:visited {
  color: #F63366;
  font-weight: bold;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
input[type='checkbox'],
input[type='radio'] {
  border: 2px solid #999;
  border-radius: 40px;
  background: #ddd;
  min-width:14px;
  min-height:14px;
  display:inline-block;
}
input[type='checkbox']{
  border-radius: 2px;
}
input[type='checkbox']:checked,
input[type='radio']:checked {
  background: #F63366;
  border: 2px solid #FCBFCF;
}

