body {
    background:#efefef;
    font-family:Arial,Helvetica,sans-serif;
    font-size:0.9em;
}


#_dash-app-content{
    /*max-width:400px;*/
}
.container,h1 {
    max-width:400px;
}
.container,
#chart-container,h1,h2{
    margin-bottom:10px;
    box-shadow:0px 1px 8px #aaa;
    padding:10px;
    text-align:left;
    background:#fff;
    z-index:999;
    position:relative;
    border-radius:10px;
}

@keyframes chart-container-anim {
  0%   {top: 120px; opacity:0}
  50%   {top: 110px, opacity:0.3}
  100%   {top: 100px, opacity:1}
}

#chart-container[data-dash-is-loading="true"]>*{
    opacity:0.3;
    transition: all 0.4s linear;
}
#chart-container[data-dash-is-loading="false"]>*{
    opacity:1;
    transition: all 0.4s linear;
}

#chart-container{
    position:absolute;
    top:100px;
    right:0px;
    left:0px;
    margin:auto;
    max-width:700px;
    min-width:400px;
    text-align:right;
    animation-duration: 1s;
    animation-name: chart-container-anim;
}

#chart-close{
    color:black;
    font-size:1.5em;
    width:1.5em;
}

#chart-container .svg-container{
    margin:auto;
}

#location_p{
    text-align:left;
}
#location_text{
    text-align:left;
    color:#999;
    font-size:0.9em;
}

#search-container {
    width:100%;
    flex-wrap: nowrap;
    display: flex;
}
#search-container #nominatim_lookup_edit{
    flex-grow: 4;
}
#search-container #nominatim_lookup_button{
    flex-grow: 2;
}
#nominatim_lookup_edit{
    margin:5px;
    padding:5px;
}


#map {
    width:100%;
    max-width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
}

#mean_trend_p{
    font-size:20pt;
    margin:auto;
    padding:20px;
    border-radius:1000px;
    display:inline-block;
}

button{
    margin:5px;
    padding:5px;
}

.tab-content {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-top: none;
    padding: 10px;
    border-radius:0px 0px 5px 5px;
}
.tab:not(.tab--selected){
    color:#999;
}