#widget{
    background-color:#fff;
    border: 1px solid #ccc;
    padding:15px;
    border-radius:10px;
    text-align:center;
    display:inline-block;
    min-width:120px;
    overflow:hidden;
    backdrop-filter: blur(5px);
}
#widget.timeline{
    height: calc(100vh - 50px);
}
#widget-container.timeline {
    height: calc(100% - 80px);
}

#widget .plot-container{
    min-width: 500px;
}

#widget div{
    margin-left:auto;
    margin-right:auto;
}

#widget-percentage,
#widget-percentage.both,
#widget-percentage.percentage,
#widget-total,
#widget-total.total{
    font-size:30px;
    font-weight:bold;
    paddding:20px;
    border-radius:999px;
    background-color:var(--pink);
    padding:20px !important;
    text-align:center;
    color:#fff;
}
#widget-total.both{
    font-size:20px;
    font-weight:normal;
    paddding:10px;
    background-color:transparent;
    color:var(--pink);
}
#widget-total.trafficlight{
    color:var(--pink);
}
#widget-percentage.total,
#widget-total.percentage{
    display:none;
}

#widget-unit{
    margin-top: 5px;
}

#ec-attribution,
#widget_origin{
    font-size:0.8em;
    margin-top:10px;
}
.timeline #ec-attribution{
    margin-top:50px;
}

h1#widget-title{
    border:none;
    background:transparent;
    box-shadow:none;
    padding-left:0px;
    margin-top:0px !important;
    font-size:18px;
    text-align:center;
}

#trafficlight{
  float:left;
  padding:12px;
  background:transparent;
}

#widget #flex_container {
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--lightgray);
  padding-bottom: 8px;
}

/*
  WIDGET CONFIGURATOR
*/
#configurator{
    overflow: scroll;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#configurator iframe{
    border: none;
    margin-left:20px;
    margin-right:20px;
    border: 1px dashed #666;
    background-image:
        linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-size: 50px 50px;
    background-position: 0 0, 0 25px, 25px -25px, -25px 0px;
    background-color: #eee;
}

#configurator>div,
#configurator>h1,
#configurator>h2,
#configurator>p,
#configurator>textarea{
  padding:10px;
  margin-left:10px;
  max-width:600px;
  z-index:0;
}

#configurator>h2{
    box-shadow:none;
    border-top: 1px dashed #ccc;
}

#configurator .tab-content{
  min-height:auto;
}

#configurator .selector {
    border: 1px solid var(--lightgray);
    border-radius: var(--boxradius);
    margin-top:10px;
    padding:10px;
}

